<ul class="mining-pools-list list-unstyled ml-0 mb-0">
  <li><a href="https://equipool.1ds.us/getting_started">EquiPool</a>EquiPool</li>
  <li><a href="http://safecoin.catspool.org">Catspool</a>Catspool</li>
  <li><a href="http://equi.minadorespool.gq/getting_started">Minadores</a>Minadores</li>
  <li><a href="https://safecoin.miningspeed.com">MiningSpeed</a>MiningSpeed</li>
  <li><a href="http://pcmining.xyz:8080/getting_started">PCMining</a>PCMining</li>
  <li><a href="https://www.coorp.io/pool/safe">Coorp Pool</a>Coorp Pool</li>
  <li><a href="https://safe.nibirupool.com/stats">Nibiru Pool</a>Nibiru Pool</li>
</ul>
